* {
    box-sizing: border-box;
}

body {
    background-color: #dcf6ff;
    height: 100vh;
    overflow: hidden;
}

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    width: 100%;
}

.game-container {
    background-color: #fff;
    width: 50%;
    aspect-ratio: 10/7;
    border-radius: 1rem;
    overflow: hidden;
    position: relative;
}

.game-container * {
    pointer-events: none;
    user-select: none;
    -webkit-user-select: none;
	-webkit-user-drag: none;
	-webkit-app-region: no-drag;
}

.game-container img {
    position: absolute;

}

.game-ground {
    bottom: 0;
}

.game-burrow-backs {
    bottom: 0;
    width: 80%;
    left: 50%;
    transform: translateX(-50%);
    bottom: 30px;
}

.game-burrow-fronts {
    bottom: 0;
    width: 80%;
    left: 50%;
    transform: translateX(-50%);
    bottom: 25px;
    pointer-events: none;
}

.moles {
    height: 100%;
}

.mole-container {
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0;
    pointer-events: none;
}

.mole-container .game-mole {
    pointer-events: auto;

}

.game-ground-cover {
    pointer-events: none;
}

.mole-container .game-ground-cover {
    width: 100%;
    position:absolute;
    bottom: 0;
}

.mole-entity {
    position: absolute;
    width: 11%;
    height: fit-content;
    transition: top 0.2s ease-in-out;

}

.mole-entity h6, .personal-mole-entity h6 {
    text-align: center;
    position: absolute;
    white-space: nowrap;
    max-width: 125%;
    left: 50%;
    transform: translate(-50%, -120%);
    z-index: 1;
    color: #fff;
    text-shadow: 1px 1px 5px #000;
    cursor: default;
    overflow: hidden;
    text-overflow: ellipsis;
    
    /* Cursor Stuff*/
    -webkit-touch-callout: none; 
    -webkit-user-select: none;
    -khtml-user-select: none; 
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


.top-left .mole-entity {
    top: 48%;
    left: 20%;
}

.top-left .mole-entity.hidden {
    top: 61%;
}

.top-right .mole-entity {
    top: 50%;
    left: 70%;
}

.top-right .mole-entity.hidden {
    top: 63%;
}

.bottom-left .mole-entity {
    top: 72%;
    left: 17%;
}

.bottom-left .mole-entity.hidden {
    top: 83%;
}

.mole-entity.invisible {
    visibility: hidden;
}

.middle .mole-entity {
    top: 60%;
    left: 45%;
}

.middle .mole-entity.hidden {
    top: 73%;
}

.bottom-right .mole-entity {
    top: 75%;
    left: 71%;
}

.bottom-right .mole-entity.hidden {
    top: 83%;
}

.hud {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

.hud .left {
    position: absolute;
    top: 0;
    left: 0;
    width: 25%;
    height: 100%;
    /* background-color: rgba(0,0,0,0.2); */
}

.hud .right {
    position: absolute;
    top: 0;
    right: 0;
    width: 25%;
    height: 100%;
    /* background-color: rgba(0,0,0,0.2); */
}

.health-wrapper, .ammo-wrapper {
    height: 70vh;
    width: 30px;
    background-color: rgb(99, 99, 99);
    border-radius: 99999px;
    position: absolute;
    top: 50%;
    transform: translateY(-55%);

}

.health-wrapper {
    right: 20px;
}

.ammo-wrapper {
    left: 20px;
}

.health, .ammo {
    overflow: hidden;
}

/* filled state of each */

.health .progress, .ammo .progress {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 66%;
    border-radius: 99999px;
    transition: height 0.8s cubic-bezier(.36,1.03,.65,.95);
}

.health .progress {
    background-color: #ff1d25;
}

.ammo .progress {
    background-color: #00bc46;
}

.health-wrapper .icon {
    position: absolute;
    width: 150%;
    bottom: -15%;
    left: 50%;
    transform: translateX(-50%);
}

.ammo-wrapper .icon {
    position: absolute;
    width: 175%;
    bottom: -15%;
    left: 50%;
    transform: translateX(-50%);
}


.mole-position {
    position: absolute;
    bottom: 8%;
    left: 10%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    opacity: 1;
    transition: opacity 0.2s ease-in-out;
} 

.mole-position .personal-mole-entity {
    position: relative;
    bottom: 25px;
    width:55%;
    transition: bottom 0.2s ease-in-out;

}

.mole-position.dead {
    opacity: 0;
}

.personal-mole-entity.hidden {
    bottom: -32px;
}

.personal-mole-entity h6 {
    color: #000;
    text-shadow: 1px 1px 5px #fff;
}


.mole-position .personal-mole.hidden {
    bottom: -15px;
}

.mole-position .background {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}

.mole-position .mole-cover {
    background-color: #dcf6ff;
    position:absolute;
    bottom: -50%;
    height: 67%;
    width: 100%;
    left: 0;
}

.mole-position .foreground {
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 100%;
    z-index: 1;
}

.timer {
    position: absolute;
    top: 12%;
    left: 5%;
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    gap: 1rem;
}

.timer .icon {
    height: 100%;
}

.players-left {
    position: absolute;
    top: 12%;
    right: 5%;
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    gap: 1rem;
}

.players-left .icon {
    height: 100%;
}

.score {
    position: absolute;
    bottom: 12%;
    right: 5%;
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    gap: 1rem;
}

.score .icon {
    height: 100%;
}

.leaderboard {
    position: fixed;
    bottom: 50%;
    right: 5%;
    width: 12%;
    transform: translateY(50%);
} 

.leaderboard li {
    font-size: 1.3rem;
}

.leaderboard li .player-name {
    display: inline-block;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 80%;
    vertical-align: bottom;
}

.leaderboard li .player-score {
    width: 10%;
    float: right;
}

.leaderboard.dead {
    left: 2%;
    right: auto;
    bottom: 5%;
    transform: translateY(0%);
    color: #fff;
    z-index: 3;
}

.acid {
    width: 100%;
    height: 100%;
}

.acid-wrapper {
    opacity: 1;
    transition: opacity .8s cubic-bezier(1,.04,.88,.96);
    z-index: 10;
    height: 15%;
    aspect-ratio: 1;
    position: absolute;

    transform: translate(-50%, -50%);
}

.acid-wrapper.fade-acid {
    opacity: 0;
}



.hud-cover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    z-index: 1;
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.8s ease-in-out;
}


.hud-cover .eliminated {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2rem;
    visibility: inherit;
    font-weight: 700;
    color: rgb(170, 44, 44);
    text-shadow: 1px 1px 5px #000;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hud-cover .eliminated h1 {
    font-size: 6rem;
}


.hud-cover.dead {
    opacity: 0.75;
    visibility: visible;
}

.timer.dead {
    z-index: 3;
    color: #fff;
}

.timer.dead .icon {
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg) brightness(102%) contrast(102%);
}

.score.dead {
    z-index: 3;
    color: #fff;
}

.score.dead .icon {
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg) brightness(102%) contrast(102%);
}

.players-left.dead {
    z-index: 3;
    color: #fff;
}

.players-left.dead .icon {
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg) brightness(102%) contrast(102%);
}

.game-over-hud {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    z-index: 1;
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.8s ease-in-out;
}

.game-over-hud.game-over {
    opacity: 0.9;
    visibility: visible;
}

.game-over-hud h1 {
    opacity: 1;
    z-index: 2;
    position: absolute;
    white-space: nowrap;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 5rem;
    color: #ff1d25;
}

.game-over-hud h3 {
    opacity: 1;
    z-index: 2;
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2rem;
    color: #fff;
}

.leaderboard.game-over {
    left: 50%;
    top: 45%;
    transform: translate(-50%, -50%);
    color: #fff;
    z-index: 3;
    width: 25%;
}

.timer.game-over {
    display: none;
}

.score.game-over {
    display: none;
}

.players-left.game-over {
    display: none;
}